/* * * * * *
 *  Buttons
 * * * * * */

/*  I don't know why, but I need this
    so the buttons don't have the underline
    for like a split second when clicked
 */
#menu a {
    color: #fff;
    text-decoration: none;
}

.button {
    background-color: #0e8010;
    color: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 83%;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #0e8010;
    border-radius: 2px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.button:hover {
    background-color: #129a14;
    color: #fff;
    text-decoration: none;
}

.button:active {
    background-color: #fff;
    color: #129a14;
    border-color: #0e8010;
    text-decoration: none;
}

#menu a.button:active {
    color: #129a14;
    text-decoration: none;
}

.last-button {
    margin-bottom: 30px;
}

.menu-button {
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.2);
}

.menu-button:hover {
    transition: 0.3s ease all;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.menu-button:active {
    transition: 0.3s ease all;
    box-shadow: none;
    transform: none;
}

.non-team {
    background-color: #27c2be;
    border-color: #27c2be;
}

.non-team:hover {
    background-color: #2bd6d2;
}

.non-team:active {
    background-color: #fff;
    color: #2bd6d2;
    border-color: #27c2be;
}

#menu a.non-team:active {
    color: #2bd6d2;
    text-decoration: none;
}

.active {
     background-color: #FFBE00;
     color: #fff;
     cursor: default;
     text-decoration: none;
     pointer-events: none;
 }

.active:hover {
    background-color: #FFBE00;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: none;
    transform: none;
}

.active:active {
    background-color: #FFBE00;
    border: 1px solid #00483A;
}

.submit {
    background-color: #1684d2;
    border-color: #1564a3;
}

.submit:hover {
    background-color: #168adb;
    color: #fff;
}

.submit:active {
    color: #fff;
}

.cancel {
    background-color: #ff2f23;
    border-color: #cb3f36;
}

.cancel:hover {
    background-color: #ff6054;
}

.cancel:active {
    background-color: #fff;
    color: #ff6054;
    border-color: #ff6054;
}

.saving {
    background-color: rgba(22, 132, 210, 0.53);
    border-color: #1564a3;
    cursor: wait;
}

.saving:hover {
    background-color: rgba(22, 132, 210, 0.53);
    border-color: #1564a3;
}

.saving:active {
    color: #fff;
}
