* {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

/* * * * * *
 *  Menu
 * * * * * */

#menu {
    width: 12%;
    height: 100%;
    box-sizing:border-box;
    background-color: #424242;
    font-size: 12px;
    float: left;
    overflow-y: auto;
    position: fixed;
}

/* * * * * *
 *  Content
 * * * * * */

#page_link {
    font-size: 11px;
    float: right;
}

#submit_trade_sec {
    position: absolute;
    top: 16%;
    left: 28%;
    margin-left: 50px;
}

#content {
    width: 88%;
    height: 100%;
    box-sizing:border-box;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    background-color: #000;
}

/* * * * * *
 *  Table
 * * * * * */

#prospects_table {
    border-bottom: 0;
    top: 16px;
    position: relative;
    color: #fff;
}

#prospects_table thead td {
    font-size: 1.15em;
    font-weight: bold;
}

#prospects_table tbody td {
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.dataTable .even {
    box-sizing:border-box;
    border: 1px solid #000;
    background-color: #6B6B6B;
}

table.dataTable .odd {
    background-color: #505050;
}

#prospects_table thead tr td {
    border: 0;
}

.grade_a {
    color: #3C80FD;
}

.grade_b {
    color: #00FF14;
}

.grade_c {
    color: #fffb00;
}

.grade_d {
    color: #ff9500;
}

.grade_low {
    color: #ff0900;
}

input {
    margin-top: 1px;
}

.player a{
    color: #fff94f;
}

/* * * * * *
 *  Messages
 * * * * * */

#message {
    margin: 60px auto 0 auto;
    border: 1px solid #763838;
    border-radius: 2px;
    width: 750px;
    height: 78px;
    line-height: 17px;
    background-color: #FFCBCA;
    z-index: 2;
    position: relative;
    top: 28%;
    overflow-y: auto;
}

.hidden {
    display: none;
}
